# GitHub Packages設定
@submontane-studio:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# Publish方法:
# NPM_TOKEN=$(op item get "GitHub NPM Token" --field token) npm publish